:root {
  /* BREAKPOINTS */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  /* COLORS */
  --primary-pale: hsl(225, 100%, 94%);
  --primary-bright: hsl(245, 75%, 52%);

  --neutral-pale: hsl(225, 100%, 98%);
  --neutral-desaturated: hsl(224, 23%, 55%);
  --neutral-dark: hsl(223, 47%, 23%);

  /* TYPOGRAPHY */
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}
